In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv('/content/Training_Set.csv')
df

    Attribute 1 (a1)  Attribute 2 (a2)  Class Label
0                  2                11            2
1                  2                13            2
2                  2                15            2
3                  2                27            1
4                  2                39            1
5                  4                11            1
6                  4                13            1
7                  4                15            1
8                  4                27            2
9                  4                39            2
10                 6                11            1
11                 6                13            1
12                 6                15            1
13                 6                27            2
14                 6                39            2
15                 8                11            1
16                 8                13            1
17                 8                15            1
18                 8                27            2
19                 8                39            2
20                10                11            1
21                10                13            1
22                10                15            1
23                10                27            2
24                10                39            2
25                12                11            2
26                12                13            1
27                12                15            2
28                12                27            2
29                12                39            2

In [ ]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train ,y_test = train_test_split(X,y,test_size = 0.3)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test= sc.transform(X_test)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(criterion = 'gini',max_depth = 20,min_samples_split = 10,min_samples_leaf = 5)
dtc.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=20, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=5, min_samples_split=10,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
y_pred = dtc.predict(X_train)

In [ ]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred,y_train))

0.7619047619047619

In [ ]:

y_pred_test = dtc.predict(X_test)

In [ ]:
print(accuracy_score(y_pred_test,y_test))

0.7777777777777778